<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bat.shop.api.mapper.pms.PmsBaseAttrInfoMapper">

    <select id="selectAttrValueListByValueId" resultMap="PmsBaseAttrInfoMapperMap">
        SELECT
            ba.*, bv.*, ba.id as ba_id,bv.`id` as bv_id
        FROM
            `pms_base_attr_info` ba,
            `pms_base_attr_value` bv
        WHERE
            ba.id = bv.attr_id
         AND
            bv.id in (${ids})
    </select>


    <resultMap id="PmsBaseAttrInfoMapperMap" type="com.bat.shop.api.bean.pms.PmsBaseAttrInfo" autoMapping="true">
        <result column="ba_id" property="id"></result>

        <collection property="attrValueList" ofType="com.bat.shop.api.bean.pms.PmsBaseAttrValue" autoMapping="true">
            <result column="bv_id" property="id"></result>
        </collection>

    </resultMap>

</mapper>